body {
    padding: 50px;
}

h1 {
    font-family: Palatino;
    color: rgb(18, 173, 39);
}

h2 {
    font-family: Palatino;
    color: rgb(18, 173, 39);
    font-size: 1.3em;
}

p {
    font-family: Bradley Hand;
    padding-bottom: 10px;
}

.list {
    font-family: Palatino;
    list-style-type: '~ ';
}