body {
    padding: 50px;
}

h1 {
    font-family: Verdana;
    color: yellow;
}

h2 {
    font-family: Verdana;
    color: yellow;
    font-size: 1.3em;
}

.list {
    border: thin, solid, yellow;
    border-color: yellow;
}